.Text-Field{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
}
.From-Login{
    margin-top: 25%;
}
.From-image{
    margin-top: 25%;
    align-items: center;
    display: flex;
}
.Login-Text{
    margin-left: 10% ;
    margin-bottom: 3% ;
    font-size: 20px;
}
.Fleeped-Text{
    font-size: 20px;
    align-items:start;
}